## Exercise 1 - Pandas part 1

**Note**: Throughout the exercise, the original data frame is to be processed!

 1 Add the required libraries and read the file named `testdata.csv` into the DataFrame object.

In [11]:
import pandas as pd

df = pd.read_csv('testdata.csv')

 2 Print the last five rows of the DataFrame object.

In [12]:
print("Last five rows:")
print(df.tail())

Last five rows:
    Unnamed: 0   column1   column2   column3
20          20  0.300589  0.455980  0.292225
21          21  0.859970  0.346539  0.364629
22          22  0.842364  0.093485  0.662066
23          23  0.781693  0.573344  0.815692
24          24  0.788949  0.945625  0.852690

3 Print the headers of the data columns as a list object.

In [13]:
print("Headers:")
print(list(df.columns))

Headers:
['Unnamed: 0', 'column1', 'column2', 'column3']

4 Print the length of `column2` (the number of elements in the column).

In [14]:
print("Length of column2:")
print(len(df['column2']))

Length of column2:
25

5 Print the information of the first row of data.

In [15]:
print("The first row of data:")
print(df.iloc[0])

The first row of data:
Unnamed: 0    0.000000
column1       0.319219
column2       0.380058
column3       0.919389
Name: 0, dtype: float64

6 Drop the column named `Unnamed: 0` from the data and verify the result in the way you choose.

In [16]:
df = df.drop(columns=['Unnamed: 0'])
print("After dropping 'Unnamed: 0':")
print(df.head())

After dropping 'Unnamed: 0':
    column1   column2   column3
0  0.319219  0.380058  0.919389
1  0.922251  0.490721  0.133932
2  0.073746  0.929162  0.962745
3  0.363707  0.878349  0.485700
4  0.106903  0.714651  0.039953

7 Delete rows if the value 0.2 or less appears in the column `column1`.

In [17]:
df = df[df['column1'] > 0.2]
print("'column1' without value 0.2 or less:")
print(df)

'column1' without value 0.2 or less:
     column1   column2   column3
0   0.319219  0.380058  0.919389
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

8 Print the minimum and maximum value of column `column1`.

In [18]:
print("Minimum value of 'column1':", df['column1'].min())
print("Maximum value of 'column1':", df['column1'].max())

Minimum value of 'column1': 0.273192901
Maximum value of 'column1': 0.935874596

9 Make the value of the first column of the first row to be `NaN`.

In [19]:
df.iloc[0, 0] = pd.NA
print("First column of first row to NaN:")
print(df.head())

First column of first row to NaN:
    column1   column2   column3
0       NaN  0.380058  0.919389
1  0.922251  0.490721  0.133932
3  0.363707  0.878349  0.485700
6  0.323134  0.036466  0.186775
7  0.467610  0.850993  0.377558

10 Save the final result in a file called `data_export.csv` (the file will be used in the next exercise).

In [20]:
df.to_csv('data_export.csv', index=False)