## Exercise 4 - SQLite

1 Add the necessary libraries for SQLite3 and make a database named `test.db`.

In [35]:
import sqlite3
import pandas as pd

db_conn = sqlite3.connect("test.db", timeout=10)

2 Create a connection to the database.

In [36]:
c = db_conn.cursor()

# c.execute('DROP TABLE IF EXISTS people')

3 Make the following table in the database, named `people`:
    
| name | age | shoe_size |
| ------------- |-------------| -----|
| Prank | 88 | 47 |
| Matt | 34 | 39 |
| Ilona | 41 | 36 |
| Sonja | 32 | 37 |

In [29]:
c.execute('''
CREATE TABLE IF NOT EXISTS people (
    name TEXT,
    age INTEGER,
    shoe_size INTEGER
)
''')

people_data = [
    ('Prank', 88, 47),
    ('Matt', 34, 39),
    ('Ilona', 41, 36),
    ('Sonja', 32, 37)
]

c.executemany('INSERT INTO people VALUES (:name, :age, :shoe_size)', people_data)

db_conn.commit()

C:\Users\jakac\AppData\Local\Temp\ipykernel_26976\744011813.py:16: DeprecationWarning: Binding 1 (':name') is a named parameter, but you supplied a sequence which requires nameless (qmark) placeholders. Starting with Python 3.14 an sqlite3.ProgrammingError will be raised.
  c.executemany('INSERT INTO people VALUES (:name, :age, :shoe_size)', people_data)
C:\Users\jakac\AppData\Local\Temp\ipykernel_26976\744011813.py:16: DeprecationWarning: Binding 2 (':age') is a named parameter, but you supplied a sequence which requires nameless (qmark) placeholders. Starting with Python 3.14 an sqlite3.ProgrammingError will be raised.
  c.executemany('INSERT INTO people VALUES (:name, :age, :shoe_size)', people_data)
C:\Users\jakac\AppData\Local\Temp\ipykernel_26976\744011813.py:16: DeprecationWarning: Binding 3 (':shoe_size') is a named parameter, but you supplied a sequence which requires nameless (qmark) placeholders. Starting with Python 3.14 an sqlite3.ProgrammingError will be raised.
  c.executemany('INSERT INTO people VALUES (:name, :age, :shoe_size)', people_data)

4 When the Table has been created, convert the table to the Pandas DataFrame object and add the column `hat_size' to it, then fill that column with the values ​​you choose.

In [30]:
df = pd.read_sql_query('SELECT * FROM people', db_conn)
df['hat_size'] = [58, 57, 56, 55]

print(df)

    name  age  shoe_size  hat_size
0  Prank   88         47        58
1   Matt   34         39        57
2  Ilona   41         36        56
3  Sonja   32         37        55

5 Make a copy of the DataFrame object with the name `person_table_copy` and add a row to it with the values ​you choose. Now save this modified dataframe object in the database as `person_table_copy` (will be created next to the previous table).

In [31]:
person_table_copy = df.copy()
new_row = {'name': 'Anna', 'age': 21, 'shoe_size': 40, 'hat_size': 55}
person_table_copy = pd.concat([person_table_copy, pd.DataFrame([new_row])], ignore_index=True)

person_table_copy.to_sql('person_table_copy', db_conn, if_exists='replace', index=False)

print(person_table_copy)

    name  age  shoe_size  hat_size
0  Prank   88         47        58
1   Matt   34         39        57
2  Ilona   41         36        56
3  Sonja   32         37        55
4   Anna   21         40        55

6 Finally, save the database changes and close the connection.

In [32]:
db_conn.commit()
db_conn.close()